.task {
  display: flex;
  gap: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  height: 35px;
}

.task__item {
  width: 100%;
  display: flex;
  text-transform: uppercase;

  span {
    padding: 5px;
    font-size: 14px;
  }

  &.is-done {
    text-decoration: line-through;
  }

  .btn-edit-task {
    margin-left: auto;
  }
}

.task__controls {
  display: flex;
  justify-content: flex-end;
  gap: 0 5px;
}
