.btn {
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color ease-in 0.3s;
  background-color: #286eef;

  &:hover {
    background-color: #215dce;
  }
  &:disabled {
    background-color: #286eef85;
  }

  &_primary {
    width: 30px;
    background: #286eef url('../../assets/icons/plus.png') no-repeat center / 18px;
  }

  &_danger {
    width: 30px;
    background: #ff4d3e url('../../assets/icons/trash.png') no-repeat center / 18px;

    &:hover {
      background-color: #b8382d;
    }
  }

  &_edit {
    width: 30px;
    background: #286eef url('../../assets/icons/edit.png') no-repeat center / 18px;
  }

  &_success {
    background-color: #198754;

    &:hover {
      background-color: #0f5232;
    }
    &.active {
      background-color: #0f5232;
    }
  }
}
