.todolist {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  max-width: 400px;
  width: 100%;
  min-height: 320px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    text-align: center;
  }

  &__field {
    display: flex;
    gap: 0 20px;
    width: 100%;
  }
}

.todolist__list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.todolist__controls {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
}

.error {
  color: red;
}