.todolist {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  max-width: 370px;
  width: 100%;
  min-height: 320px;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__field {
    display: flex;
    gap: 0 20px;
    width: 100%;
  }
}

.todolist__list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.todolist__controls {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
}

.error {
  display: block;
  color: red;
  font-size: 16px;
}
